body {
  background-image: url("https://i.imgur.com/u69Ykuo.png");
}

.page-heading {
  border-bottom: 4px solid coral;
  font-family: "Cedarville Cursive", cursive;
  background-color: firebrick;
}
h1.heading-text {
  font-weight: 900;
  font-size: 50px;
}

.bumper-sticker {
  /* transform: rotate(25deg); */
  /* position: absolute; */
  /* top: -10px; */
  opacity: 0.3;
}

.main-container {
  background-image: linear-gradient(gray, black);

  position: relative;
}

.direction-text {
  color: aquamarine;
  font-size: 15px;
  line-height: 1.2;
  padding-top: 4px;
  border: 2px dotted aquamarine;
}
.score-board-heading {
  font-size: 40px;
  color: aliceblue;
  border-bottom: 2px solid aliceblue;
}

.score-board {
  color: aliceblue;
  font-family: cursive;
  font-size: 20px;
}

#letters-guessed {
}

.guessing-holder-intro {
  font-size: 30px;
  color: aqua;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
#guessing-holder {
  font-size: 30px;
  color: aqua;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

#next-button {
  border: 1px dotted gray;
  color: firebrick;
  display: none;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  z-index: 3;
  position: relative;
}

#next-button:hover {
  background-color: aqua;
}
#next-button:active {
  background-color: green;
}
